body{   /*this body section will add styles to the whole page*/
    
    text-align: center; /*This piece of code makes all content center in to the middle*/
    color: whitesmoke; 
    font-size: 40px;
} 



.top1{
    background-color: orange;
    height: 500px;
    width: 100%;
    font-size: 25px;
}

.l{
    background-color: rgb(243, 52, 4);
    height: 300px;
    width: 60%;
    float: left;
}

.m{
    
    height: 300px;
    width: 10%;
    float: left;
}

.r{
    background-color: rgb(221, 161, 210);
    height: 300px;
    width: 30%;
    float: left;
}


























.header{

    background-color: t;
    width: 100%;
    height: 250px;

}



.small1{
    background-color: red;
    width: 33.3%;
    height: 650px



}
.small2{
    background-color: red;
    width: 33.3%;
    height: 650px



}
.small3{
    background-color: red;
    width: 33.3%;
    height: 650px



}


/*
.sml{background-color: crimson;
    height: 200px;
    width: 25%;
    float: left;
}
*/
nav{width: 80%;
height: 50px;
margin-left: 5%;
margin-top: 0%;
}
ul{
    list-style-type: none;
}
li{
    float: left;
}
li a{
    color: red;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 20px;
}
li a:hover{
    color: blue;
}